[submodule "evil"]
    path = evil
    url = git://gitorious.org/evil/evil.git
[submodule "ecb"]
    path = ecb-2.40
    url = git://github.com/emacsmirror/ecb.git
[submodule "popup-el"]
    path = popup-el
    url = git://github.com/auto-complete/popup-el.git
[submodule "ac-slime"]
    path = ac-slime 
    url = git://github.com/purcell/ac-slime.git	
[submodule "markdown-mode"]
    path = markdown-mode
    url = git://jblevins.org/git/markdown-mode.git
[submodule "emmet-mode"]
    path = emmet-mode
    url = git://github.com/smihica/emmet-mode.git
[submodule "smartparens"]
    path = smartparens
    url = git://github.com/Fuco1/smartparens
[submodule "helm"]
    path = helm
    url = git://github.com/emacs-helm/helm
[submodule "auto-complete-c-headers"]
    path = auto-complete-c-headers
    url = git://github.com/mooz/auto-complete-c-headers
[submodule "auto-complete-clang"]
    path = auto-complete-clang
    url = git://github.com/brianjcj/auto-complete-clang
[submodule "powerline"]
    path = powerline
    url = git://github.com/milkypostman/powerline
[submodule "iedit"]
    path = iedit
    url = git://github.com/victorhge/iedit