*.elc
packages/
url/
.session
tramp
frame-restore-parameters
.tern-port

cache/*

!cache/auto-complete/
cache/auto-complete/*
!cache/auto-complete/.gitkeep

!cache/eshell/
cache/eshell/*
!cache/eshell/.gitkeep

!cache/desktop/
cache/desktop/*
!cache/desktop/.gitkeep

!cache/frame/
cache/frame/*
!cache/frame/.gitkeep

!cache/revive/
cache/revive/*
!cache/revive/.gitkeep

!cache/bookmark/
cache/bookmark/*
!cache/bookmark/.gitkeep
!cache/bookmark/bookmarks

!cache/multiple-cursors/
cache/multiple-cursors/*
!cache/multiple-cursors/.gitkeep
!cache/multiple-cursors/.mc-lists.el
